<div>
    <div class="col-form-label-sm" style="width:20%;float:left;text-align:left">&copy; 2018 <b>REVIEW</b></div>
    @if (Session["idusuarios"] != null)
    {
    <div class="col-form-label-sm"><b>Usuário:</b> @Session["usuario"]&nbsp; &nbsp; <b>Nome:</b> @Session["nome"]</div>
    }
</div>
